html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mona Sans";
}
.navBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear {
  color: #58e042;
}
.title {
  font-size: 48px;
  margin-left: 75px;
}
#us {
  width: 100%;
}
.divImmagine {
  background-image: url("../../img/people us.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutUs {
  position: relative;
  font-size: 62px;
}
.usParagraph {
  color: white;
  font-size: 24px;
}
.projectManager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theTeam {
  padding-top: 40px;
  font-size: 46px;
}
.pj {
  padding-top: 20px;
  font-size: 18px;
}
.Luca {
  font-size: 16px;
  padding-top: -20px;
}
.personContact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personContact a {
  text-decoration: none;
  color: black;
  position: relative;
}

.personContact a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
}

.personContact a:hover::after {
  width: 100%;
}
.green-line {
  border-radius: 15px;
  margin-top: 50px;
  width: 700px;
  height: 5px;
  background-color: #4b4b4b;
}
.titoloAreaTecnica {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.areaTecnica {
  display: flex;
  justify-content: center;
  align-items: center;
}
.personContainerArea {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.personContainerArea a {
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 14px;
}

.personContainerArea a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.4s ease;
}

.personContainerArea a:hover::after {
  width: 100%;
}
.personContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.title {
  text-decoration: none !important;
  color: inherit !important;
  font-weight: 600;
}
