body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
}
body * {
  font-family: "Jost";
  scroll-behavior: smooth;
}
.title {
  text-align: center;
  font-size: 62px;
}
.clear {
  color: #58e042;
}
#login-form {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  margin-top: 450px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;
}

#username:focus,
input:focus {
  outline: none;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  text-align: left;
}

.input-group label {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 10px;
  color: #666;
  font-weight: bold;
}
.input-group input {
  width: calc(80% - 110px); /* Adjust the width minus label width and margin */
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease; /* Smooth transition */
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.input-group input::placeholder {
  color: #ccc;
}

.input-group input:hover {
  animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #58e042;
  }
  100% {
    border-color: #ccc;
  }
}

.btn-login {
  background-color: #58e042;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
  transition: background-color 0.3s ease;
}

.footer {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

red-input {
  border-color: red;
}

.input-group select {
  width: calc(80% - 90px);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group select:focus {
  outline: none;
  border-color: #58e042;
}

.input-group select:hover {
  animation: cursorBlink 1s infinite;
}

select * {
  padding-top: 10px;
}

@media only screen and (max-width: 930px) {
  #login-form {
    display: block; /* Change display to block for column layout */
    grid-template-columns: unset; /* Remove grid-template-columns property */
    grid-row: unset; /* Remove grid-row property */
    grid-row-gap: unset; /* Remove grid-row-gap property */
  }

  .input-group {
    width: auto; /* Reset width to auto */
    margin: 20px; /* Reset margin */
  }
}

.input-group > p,
.divInfo {
  position: absolute;
  top: 75%;
  left: 160px;
}
.divInfo > p {
  opacity: 0.65;
}
.divInfo > button {
  position: absolute;
  top: 13px;
  background-color: #ffffff00;
  left: 225px;
  opacity: 0.65;
  cursor: pointer;
  border-color: #ffffff00;
}
