body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body * {
  font-family: "Jost";
}
.title {
  text-align: center;
  font-size: 62px;
}
.clear {
  color: #58e042;
}
.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

#username:focus,
input:focus {
  outline: none;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: left;
}

.input-group label {
  display: inline-block;
  width: 100px; 
  text-align: right;
  margin-right: 10px;
  color: #666;
  font-weight: bold;
}
.input-group input {
  width: calc(80% - 110px); 
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease; 
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.input-group input::placeholder {
  color: #ccc;
}

.input-group input:hover {
  animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #007bff;
  }
  100% {
    border-color: #ccc;
  }
}

.btn-login {
  background-color: #58e042;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  transition: background-color 0.3s ease;
}

.footer {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

red-input {
  border-color: red;
}
a.title {
  text-decoration: none !important; 
  color: inherit !important; 
  font-weight: 600;
}
