/* Resetting default browser styles */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Exa";
}
/* Styling the navbar */
#nav_bar {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: flex-end; /* Align navbar to the right */
  list-style-type: none;
  place-content: center;
  align-items: center;
  padding-right: 170px;
}

#nav_bar > li:not(#logo_home, #login) {
  margin-right: 60px; /* Set spacing between navbar elements */
}

#login {
  margin-right: 60px; /* Add spacing for the login section */
}

#logo_home {
  margin-right: auto; /* Pushes logo to the far left */
}

/* Styling the links */
#nav_bar a {
  text-decoration: none;
  color: black; /* Set link text color to black */
  font-size: 17px;
  font-weight: 400;
}

/* Adding hover effect */
#nav_bar a:hover {
  transform: translateY(-5px);
}

/* Styling the social icons */
#nav_bar_social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px; /* Adjust as needed */
  padding: 0;
}

#nav_bar_social li {
  margin-right: 20px; /* Adjust spacing between social icons */
}

#nav_bar_social li:last-child {
  margin-right: 0; /* Remove right margin from the last social icon */
}

/* Styling the login button */
#login a {
  display: flex;
  align-items: center;
  text-decoration: none;
  place-content: center;
  color: black; /* Set login button text color to black */
  font-size: 17px;
  font-weight: 400;
  border-radius: 100px;
  text-align: center;
  background-color: #54a3bb;
  width: 150px;
  height: 60px;
}

#login_img {
  height: 30px;
  margin-left: 10px; /* Adjust spacing between login text and image */
}
#titolo_banner {
  position: relative;
  padding-top: 65px;
  font-size: 60px;
  font-weight: 450;
  left: 100px;
}
#paragrafo_banner {
  position: relative;
  font-size: 40px;
  padding-bottom: 65px;
  font-weight: 450;
  left: 100px;
}
/* Styling the #1 part */
#paragrafo_banner span {
  font-weight: bold;
  color: gold;
  text-shadow: 1px 1px 3px black;
}
.social_bar {
  position: relative;

  left: 400px;
}
.social_bar > img {
  margin-right: 75px;
  border-radius: 15px;
}
