html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mona-Sans";
  background-color: #1c1c1c;
}
body * {
  font-family: "Mona-Sans";
}
.pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px !important;
}
#nav_bar {
  margin-left: 700px !important;
}
a.title {
  color: white !important;
}
.social_bar > img {
  margin-right: 25px;
  border-radius: 6px;
}
.clear {
  color: #58e042 !important;
}
.title {
  font-size: 48px;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
}
.welcomePar {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcomeText p {
  font-size: 17px;
  margin-left: 20px;
  color: white;
}
.welcomeText h1 {
  height: 20px;
  color: #58e042;
}
.welcomeText span {
  color: white;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.imgContainer img {
  width: 100px;
  background-color: white;
  border-radius: 100px;
  padding: 10px;
}
.userInfo {
  margin-left: 275px;
}
.userText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  margin-right: 50px;
}
.flagtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#userEmail {
  height: 1px;
}
.userText img {
  width: 35px;
  margin-right: 20px;
}
.menuContainer {
  width: 1600px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 50px;
}
.menuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  margin-top: 50px;
}
.topSection {
  display: flex;
  flex-direction: row;
}
.contractDetails {
  border-radius: 30px;
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  width: 300px;
  height: auto;
}
.contractDetails > *:not(.ButtonContainer, .arrowContainer) {
  padding-left: 25px;
}

.contractDetails h1 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.blackSeparator {
  width: 67%;
  height: 1.5px;
  background-color: rgb(110, 110, 110);
  margin: 10px 0;
  margin-left: 25px;
}
.contractTitle {
  font-size: 18px;
  height: 10px;
}
.contractDate {
  font-size: 15px;
  font-weight: 500;
  color: #595959;
}
.selectContract {
  font-family: "Mona-Sans";
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  width: 130px;
  border: none;
  background-color: black;
  color: white;
}
.deleteContract {
  font-family: "Mona-Sans";
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  width: 130px;
  border: none;
  background-color: rgb(221, 90, 90);
  color: white;
  margin-bottom: 30px;
}
.ButtonContainer {
  position: relative; /* Make the container position relative */
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ButtonContainer button {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.arrowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.arrowContainer button {
  border-radius: 15px;
  width: 50px;
  border: none;
  font-size: 26px;
  font-weight: 600;
  background-color: #58e042;
  cursor: pointer;
}
.contractInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
  margin-left: 30px;
}

.info {
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  border-radius: 25px;
  padding: 20px;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info img {
  width: 30px;
  height: auto;
  background-color: #8fe5a2;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.info h1 {
  font-size: 28px;
  height: 15px;
}
.info h2 {
  font-size: 20px;
  color: #777777;
  font-weight: 500;
  height: 15px;
}
.info p {
  font-weight: 500;
  color: #777777;
}
.info span {
  font-weight: 500;
  color: #58e042;
}
.calendarContainer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 450px;
  width: calc(100% - 55px);
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  border-radius: 25px;
}
.leftSide {
  padding-right: 40px;
  padding-left: 40px;
  border-right: 1.3px rgba(128, 128, 128, 0.542) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leftSide h1 {
  padding-top: 10px;
  height: 15px;
}
.leftSide h2 {
  font-size: 20px;
  color: #595959;
  font-weight: 500;
}
.leftSide select {
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  display: flex;
  border-radius: 12px;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
.buttonCalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.buttonCalContainer button {
  width: 100px;
  font-size: 30px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: rgb(221, 90, 90);
  cursor: pointer;
}
.daysContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightSide {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns */
  grid-template-rows: repeat(6, 1fr); /* 7 rows */
  gap: 20px; /* Gap between grid items */
  margin-left: 145px;
}
.casellaCalendario {
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
}
.newContract {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 830px;
  width: calc(100% - 55px);
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  border-radius: 25px;
}
.servicesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 40px;
  gap: 190px;
}
.servicesContainer2 {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 40px;
  gap: 190px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.3px rgba(128, 128, 128, 0.542) solid;
  border-radius: 25px;
  height: 250px;
  width: 200px;
}
.service img {
  width: 130px;
}
.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.input-group input{
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-left: 15px;
  display: flex;
  justify-content: flex-end;
}
.parameterContainer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 40px;
  gap: 200px;
}
.whiteLine {
  margin-left: 6%;
  border-bottom: 1px solid rgb(173, 170, 170);
  margin-top: 25px;
  width: 1300px;
  border-radius: 50px;
}
.newContract h2{
  margin-top: 35px;
  text-align: center;
}
