/* Resetting default browser styles */
html,
body {
  margin: 0 auto !important;
  padding: 0 !important;
  margin-top: 0 !important;
}

body {
  font-family: "Lexend Exa";
}

/* Styling the navbar */
#nav_bar {
  font-family: "Inter";
  font-weight: 500;
  display: flex;
  justify-content: flex-end; /* Align navbar to the right */
  list-style-type: none;
  place-content: center;
  align-items: center;
  margin-right: 0; /* Adjusted margin-right */
  margin-left: auto; /* Adjusted margin-left */
  margin-top: 0; /* Ensure no top margin */
}

#nav_bar > li:not(#logo_home, #login, #a_register) {
  margin-right: 45px; /* Set spacing between navbar elements */
}

#login {
  margin-right: 15px; /* Add spacing for the login section */
}

#logo_home {
  margin-right: auto; /* Pushes logo to the far left */
}

/* Styling the links */
#nav_bar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

#nav_bar_social {
  display: block;
  justify-content: center;
  list-style-type: none;
  margin-top: 20px; /* Add margin-top for social bar */
  padding: 0;
}

#nav_bar_social li {
  margin-right: 20px;
}

#nav_bar_social li:last-child {
  margin-right: 0; /* Remove right margin from the last social icon */
}

/* Styling the login button */
#login a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  text-align: center;
  background-color: white; /* Set background color to white */
  border: 2px solid #58e042; /* Set border color to green */
  width: 120px;
  height: 40px;
}

#login_img {
  height: 30px;
  margin-left: 10px;
}

#a_register {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  text-align: center;
  background-color: #58e042;
  width: auto; /* Set width to auto */
  min-width: 120px; /* Set minimum width to ensure it's clickable */
  height: 40px;
  margin-right: 100px;
}

#titolo_banner {
  position: relative;
  padding-top: 65px;
  font-size: 60px;
  font-weight: 450;
  left: 100px;
}

#paragrafo_banner {
  position: relative;
  font-size: 40px;
  padding-bottom: 65px;
  font-weight: 450;
  left: 100px;
}

/* Styling the #1 part */
#paragrafo_banner span {
  font-weight: bold;
  color: gold;
  text-shadow: 1px 1px 3px black;
}

.social_bar {
  position: relative;
  padding-right: 50px;
  margin-top: 20px; /* Add margin-top for social bar */
}

.social_bar > img {
  margin-right: 25px;
  border-radius: 10px;
}

#people1 {
  position: relative;
  float: right;
  margin: 0;
  padding: 0; /* Added to remove any padding */
  width: 650px;
}
