body {
  font-family: "Mona Sans";
  background-color: #f2f2f2;
  margin: 0 auto;
  height: 100vh;
}
body * {
  font-family: "Mona Sans";
  scroll-behavior: smooth;
}
.navBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.avviso {
  font-size: 12px;
  margin-left: 4px;
}
.pageContainer {
  margin: 0;
  padding: 0;
  padding-left: 0; /* Remove padding from the left */
  display: flex;
  flex-direction: row;
}
#regWallpaper {
  width: 40vw;
  height: 100vh;
  object-fit: cover;
  float: left;
}
.testo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
.descrizioneSito {
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
  padding: 25px;
  margin-left: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testo p {
  padding-bottom: 5px;
}
.title {
  text-align: center;
  font-size: 40px;
}
.clear {
  color: #58e042;
}
.login-container h3 {
  height: 10px;
}
.login-container h2 {
  height: 10px;
  font-size: 27px;
}
#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-login-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100vh;
}
.form-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-container {
  display: flex;
  flex-direction: column;
}
.login-container {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 40px;
  width: 57vw; /* Calculate the remaining width after considering 40vw for #regWallpaper */
  height: 83vh;
  text-align: center;
}

@media only screen and (max-width: 930px) {
  .login-container {
    width: 100%; /* Set full width on smaller screens */
  }
}

#username:focus,
input:focus {
  outline: none;
}

h2 {
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.input-group label {
  display: inline-block;
  width: 200px;
  padding-bottom: 10px;
  color: #666;
  font-size: 14.5px;
  font-weight: 500;
}
.input-group input {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

.input-group input::placeholder {
  color: #ccc;
}

.input-group input:hover {
  animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
  0% {
    border-color: #ccc;
  }
  50% {
    border-color: #58e042;
  }
  100% {
    border-color: #ccc;
  }
}

.btn-login {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  transition: background-color 0.3s ease;
  display: block;
}

.footer {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}

red-input {
  border-color: red;
}

.input-group select {
  width: calc(80% - 90px);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input-group select:focus {
  outline: none;
  border-color: #58e042;
}

.input-group select:hover {
  animation: cursorBlink 1s infinite;
}

select * {
  padding-top: 10px;
}

@media only screen and (max-width: 930px) {
  #login-form {
    display: block;
    grid-template-columns: unset;
    grid-row: unset;
    grid-row-gap: unset;
  }

  .input-group {
    width: auto;
    margin: 20px;
  }
}

.input-group > p,
.divInfo {
}
.divInfo > p {
  width: 250px;
  margin-top: 10px;
  margin-bottom: 0;
  opacity: 0.65;
}
.divInfo > button {
  position: absolute;
  top: 13px;
  background-color: #ffffff00;
  left: 225px;
  opacity: 0.65;
  cursor: pointer;
  border-color: #ffffff00;
}
.doList {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.whatudo {
  margin-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.whatudo > p {
  font-weight: 500;
}
.whatudo > img {
  padding-right: 20px;
}
